services:
  main:
    build:
      context: .
      args:
        - CORE_GZ=rootfs.gz
        - CIP_NUMBER=
        - ITERATION_NUMBER=1
        - KERNEL_BRANCH=v6.x
        - KERNEL_ID=6.18.5-tinycore-560z
        - KERNEL_NAME=linux-6.18.5
        - KERNEL_TAR=linux-6.18.5.tar.xz
        - KERNEL_URL=https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.18.5.tar.xz
        - KERNEL_VERSION=6.18.5
        - LOCAL_VERSION=-tinycore-560z
        - RELEASE_DIRECTORY=/home/tc/release/6.18.5.17.1
        - RELEASE_VERSION=6.18.5.17.1
        - TCL_DOCKER_IMAGE_VERSION=17.x
        - TCL_RELEASE_TYPE=release_candidates
        - TCL_VERSION=17.x
        - VERSION_QUINTUPLET=6.18.5.17.1
      dockerfile: Dockerfile
      tags:
        - linichotmailca/tcl-core-560z:6.18.5.17.1
        - linichotmailca/tcl-core-560z:latest

